/*green: color: 197739*/
/*yellow: color: #EBEC2B;*/
/*pink: color: #904180;*/


footer{
    padding: 10px 20px;
    margin-right: -15px;
    text-align: left;
}

h2{
    color:  white;
}

.content{
    font-size: 18px;
    text-align: justify;
}

.navbar-black{
    background-color: black;
    border-bottom: solid 1px #3C3B3B;
}

.nav{
    color: silver;
}

.nav li{
    padding:15px;
}

.navbar-brand{  
    font-size: 30px;
}

.nav-link{
    color: #999999 !important;
    padding: 0 !important; 
}

.navbar-nav li{
    padding: 30px 15px;
    font-size: 17px;
}

.nudge-down-20px{
    margin-top: 20px;
}

.nudge-down-200px{
    margin-top: 200px;
}

.nudge-down-100px{
    padding-top: 50px;
    margin-top: 50px;
}

.section{
    padding: 50px 0 100px 0;

}

.silver{
    color: #777;
}

.title-font{
    font-family: 'Montez', cursive;
    color: #777;
}

.title-nav{
    font-size: 39px;
    padding-top: 20px;
}

.title{
    font-size: 60px;
    margin-top: -10px;
}

#about-us{
    box-shadow: 0px 0px 25px 25px #1F916A;
    background-color: #1F916A;
    color: #D1D2D4;
}

#calendar{
    box-shadow: 0px 0px 25px 25px #9B7DA1;
    background-color: #9B7DA1;
}

#charities{
    box-shadow: 0px 0px 25px 25px #1F1F1F;
    background-color: #1F1F1F;
    color: #D1D2D4;
}

#outside-circle{
    border: 10px solid #7C4089; 
    border-radius: 500px;
    height: 600px;
    width: 600px;
    padding: 5px;
    margin:auto;
}

#circle{
    margin:auto;
    border: 5px solid #5A2950; 
    border-radius: 300px;
    height: 570px;
    width: 570px;
    padding-top: 50px;
}

#construction{
    font-size: 25px;
}

#contact{
    padding-top: 100px;
    background-color: #777;
    box-shadow: 0 -25px 25px -5px #777;
    color: black;
}

#logo-area{
    padding: 200px;
    text-align: center;
    background-color: black;
}

#locations{
    box-shadow: 0px 0px 25px 25px #7C4089;
    background-color: #7C4089;
    color: #D1D2D4;
}

#no-border{
    border: none;
}

.fa-circle{
    color: #672063;
    margin-top: 2px;
}





