/*green: color: 197739*/
/*yellow: color: #EBEC2B;*/
/*pink: color: #904180;*/


@font-face { font-family: Optima; 
    src: url('../Optima.ttf'); 
} 

@font-face { font-family: Joe; 
    src: url('../JosefinSlab-Light.ttf'); 
} 

@media (min-width: 1200px){
    .container {
    width: 990px;
    }   
}

a{
    color: silver;
    font-size: 18px;
}


body{
    font-family: Optima;
    color: #585858;
}

footer{
    padding: 10px 20px;
    margin-right: -15px;
    text-align: left;
    background-color: #585858;
    color: white;
}

hr{
    border-color: #BFBFBF;
}

h1{
    color: black;
    text-transform: uppercase;
    font-weight: 200;
}

h4{
    font-weight: 700;
}
 
 .black{
    color: black;
 }

 .red{
     color: red;
 }

 .green{
     color: #1B887A;
 }

.content{
    font-size: 18px;
    text-align: justify;
}

.phone-number {
    font-size: 36px;
    margin-top: 10px;
    /*color: #7c23a7;*/
}

.header {
    position: relative;
    width: 100%;
    padding: 300px;
    min-height: 1px;
    text-align: center;
    background-image: url("../img/top.png");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-bottom: 2px solid #545454;
}

.no-border{
    border: none;
}

.navbar{
    background-color: black;
    padding: 30px 50px;
}

.nudge-down-20px{
    margin-top: 20px;
}

.nudge-down-50px{
    margin-top: 50px;
}

.nudge-down-100px{
    padding-top: 50px;
    margin-top: 50px;
}

.logo{
    height: 60px;
    margin: -20px;
}

.photo{
    max-width: 100%;
}

.section{
    padding: 100px 0;
}

.section-black{
    padding: 60px 100px;
    color: white;
    background-color: black;
    font-family: Joe, serif;
    font-size: 24px;
    letter-spacing: 2px;
}

.section-jewelry{
    padding: 25px 0;
    background-color: black;
}

.signature{
    font-size: 16px;
    margin-top: 40px;
}


.cta{
    background-color: #CF378F;
    border-radius: 10px;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: gray 0 3px 4px;
    font-size: 20px;
    margin: 50px 0;
}

.jewelry{
    max-width: 120px;
}

#jewelry-photo{
    margin-top: 70px;
}

#metro{
    margin-top: -23px;
}

#beaumont{
    margin-top: 30px;
}


.navbar-nav>li>a{
    padding-top: 20px;
    padding-bottom: 20px;
}







